.App {
  font-family: sans-serif;
  text-align: center;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid grey;
  margin: 4px;
}

img {
  width: 300px;
  object-fit: cover;
  height: 200px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}

.link {
  color: #169606;
  letter-spacing: 0.5px;
  margin-left: 2px;
}